@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-link text-dark"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="EditProfile">Hello @User.Identity.Name!</a></li>
        <li class="nav-link text-dark"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    </ul>
}
