@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @if (@User.Identity.IsAuthenticated)
    {
        <h2>hello @User.Identity.Name</h2>
        foreach (System.Security.Claims.Claim c in User.Claims)
        {
            <h4>@c.Type: @c.Value</h4>
        }
    }
</div>
