
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Restricted</h1>

<h2>Sorry, the page you tried to access is unavailable or you don't have access.</h2>

<p>If you think you should have access, try logging in with a different account.</p>
